*.pyc
venv

server/src/ai/__pycache__/
server/src/assets/
server/src/pages/__pycache__/
server/src/__pycache__/
server/src/utils/__pycache__/
server/tests/output_files
.idea/
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
/src/pages/__pycache__
*.svg
test.ipynb
.ipynb_checkpoints/
