*.pyc
venv
src/__pycache__/
src/ai/__pycache__/
src/pages/__pycache__/
src/utils/__pycache__/
.idea/
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
/gui/src/pages/__pycache__
src/assets/
*.svg
test.ipynb
.ipynb_checkpoints/
*.sqlite
benchmark_output.log
benchmarks.sqlite
src/experiments/telegram/telegram_config.json
CPIs/*
