lark~=1.2.2
pydot~=3.0.2
jsonschema~=4.23.0
ipython~=8.32.0
numpy~=2.1.2
graphviz~=0.20.3
pandas~=2.2.3
fastapi~=0.115.4
pydantic~=2.9.2
openai~=1.63.2
langchain~=0.3.19
langchain_openai
uvicorn~=0.34.0
pillow~=11.0.0
langchain-openai~=0.3.6
langchain-core~=0.3.35
redis~=5.2.0
requests~=2.32.3