.DS_Store
.idea/

sources/__pycache__/
sources/spin_to_prism_model/__pycache__/

models/test*.*
models/current_benchmark.nm
models/current_benchmark.pctl

benchmarks.sqlite
benchmark_output.log

/prism-4.8.1-mac64-arm/
/prism-4.8.1-linux64-x86/